<% layout("/layouts/boilerplate.ejs") %>

  <h3 class="my-4">ALL Listings</h3>
  <div class="row">
    <% for (const Listings of allListings) { %>
      <div class="col-md-4 mb-4">
        <a href="/listings/<%= Listings._id %>" class="cardlink">
          <div class="card listing-card">
            <img src="<%= Listings.image.url %>" class="card-img-top" alt="Listing image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <h5 class="card-title">
                <%= Listings.title %>
              </h5>
              <p class="card-text">
                &#8377;<%= Listings.price.toLocaleString("en-IN") %> / night
              </p>
            </div>
          </div>
        </a>
      </div>
      <% } %>
  </div>
